.button {
  min-width: 180px;
  // width: auto;
  white-space: nowrap;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 20px;
  margin: 5px;
  font-size: 12px;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  border: 1px solid #000;
  cursor: pointer;
  transition: 200ms ease-in-out all;

  &:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
  }
  &.google-button {
    background: #4285f4;
    border: 1px solid #4285f4;

    &:hover {
      border: 1px solid #4285f4;
      color: #4285f4;
      background-color: #fff;
    }
  }
}
