.collection-item {
  height: 350px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 10px;

  transition: 0.5s cubic-bezier(0.065, 0.84, 0.44, 1);
  .image {
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
  }

  &:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
  }

  &:hover .collection-footer {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.4);
    // color: #fff;
  }

  .collection-footer {
    box-sizing: border-box;
    width: 100%;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    bottom: 0px;
    border-radius: 0 0 5px 5px;
    padding: 5px 5px;

    background-color: rgba(255, 255, 255, 1);
    opacity: 0.8;
    transition: 0.5s cubic-bezier(0.065, 0.84, 0.44, 1);
    cursor: pointer;

    &span {
      // padding-left: 5px;
      // padding-right: 5px;
    }
  }
}
