@keyframes cart-animation {
  from {
    height: 0px;
    border: none;
  }
  to {
    height: 240px;
    border: 1px solid black;
  }
}

.cart-dropdown {
  position: absolute;
  background-color: #fff;
  border: 1px solid black;
  width: 250px;
  height: 350px;
  top: 75px;
  right: 10px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;

  transition-property: height, opacity;
  transition-duration: 200ms, 20ms;
  transition-delay: 0s, 10ms;
  transition-timing-function: linear;

  &.hidden {
    height: 0px;
    border: none;
    & button {
      opacity: 0;
    }
  }
}

@media screen and (min-width: 1000px) {
  .cart-dropdown {
    right: 40px;
  }
}
